/* PHASE 1: Header */
body {
  font-family: "Roboto";
  font-size: 16px;
  background: white;
}

.header {
  background: red;
  color: white;
  border-bottom: 1px solid grey;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}


.header-logo {
  border-right: 1px solid grey;
  font-weight: 700;
}

.header-logo:hover {
  background: black;
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid grey;
}

.header-list > li:hover {
  background: black;
}
