Sign in
<form class="" action="<%= session_url %>" method="post">

  <label><input type="text" name="user[username]" value="">Username</label>
  <label><input type="text" name="user[password]" value="">Password</label>

  <input type="submit" name="Sign in" value="Sign in">
</form>
