Edit

<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <%= auth_token %>
  <label>
    Name
    <input type="text" name="sub[name]" value="<%= @sub.name %>">
  </label>

  <label>
    Description
    <input type="text" name="sub[description]" value="<%= @sub.description %>">
  </label>

  <input type="submit" name="Edit Sub" value="Edit Sub">

</form>
