Sign Up
<form class="" action="<%= users_url %>" method="post">

  <label><input type="text" name="user[username]" value="">Username</label>
  <label><input type="text" name="user[password]" value="">Password</label>

  <input type="submit" name="" value="Sign Up">
</form>
